.entry {
    height: 100%;
    display: grid;
    grid-template-areas: 
        'content nav';
    grid-template-columns:
        1fr auto;
}

.content {
    grid-area: content;
}

.nav {
    grid-area: nav;
}
