@import '../common/color.sass';

.cell {

    flex: 1;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid $navy;

    &:hover {
        border: 1px solid $red;
    }
}
